#HeadDiv{
    background-image: url("slide-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: -60px;
}
#NAV{
    a{
        color: white;
    }
}
.MainDiv{
    .colText{
        span{
            color: #666;
            font-size: 14px;
            font-family: 'Poppins', sans-serif;
        }
    }
    .colText2{
        span{
        font-size: 25px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        }
    }

    .colText3{
        border-bottom: 2px solid #eeeeee;
        span{
        font-size: 17px;
        font-weight: bold;
        font-family: 'Poppins', sans-serif;
        }
    }

    .GuestorRegister{
        h4{
            font-size: 18px;
            font-family: inherit;
            font-weight: 500;
        }
        .inputspan{
            font-size: 14px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
    
    }

    .Login{
        input{
            width: 100%;
            border:  1px solid #eaeaea;
            padding: 6px;
        }
        label{
            padding-top: 3%;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
        a{
            padding-top: 2%;
            color:  #00acc1;
            text-decoration: none;
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            font-weight: 400;
        }
    }

    .ShippingMethod{
        padding-top: 1%;
        p{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #222;
            font-weight: 200;
        }
    }

    .InputUlDiv{
        ul{
            padding-left: 2px;
        input{
            width: 100%;
            border:  1px solid #eaeaea;
            padding: 6px;
        }
        select{
            width: 100%;
            border:  1px solid #eaeaea;
            padding: 6px;
        }
        label{
            padding-top: 3%;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
        }
    }
    }
    .btn{
        background-color: white;
        border: 1px solid #efefef;
       
        .BtnSpan{
            font-size: 12px;
            font-weight: bold;
            color: #666;
            font-family: inherit;
            
        }

    }
    .btn:hover{
        background-color: #00acc1;
        .BtnSpan{
            color: white;
        }
    }





#works{
    
    .titleTD{
        padding: 1%;
        span{
            font-weight: 600;
            font-size: 13px;
            font-family: 'Poppins', sans-serif;
        }
    }

    .PrdctTitle{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    .Description{
        width: 30%;
        padding: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .Avail{
        span{
            background-color: black;
            color: white;
            margin-left: 37%;
            padding: 7px;
        }
        
    }

    .UnitPrice{
        span{
            margin-left: 65%;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #222;
            font-weight: bold;
        }
    }

    .Total{
        width: 13%;
        span{
            margin-left: 65%;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #222;
            font-weight: bold;
        }
    }
    .Trash{
        width: 5%;
        span{
            margin-left: 40%;
            color: #bcbcbc;
        }
    }

    .QTY{
        width: 7%;
    }


    }
    .LittleSpanTd{
        font-size: 85%;
        font-weight: normal;    
        color: #999999;
        font-family: 'Poppins', sans-serif;
    }
    
    
    td{
        border: 1px solid #eaeaea;

    }
    .imgTD{
        width: 10%;

        img{
            width: 80%;
        }
}

}


#Footer{
    background-color: black;
    min-height: 500px;
    margin-left: 0px;
    margin-right: 0px;

    h4{
      padding: 0 0 10px;
      padding-top: 1%;
      margin: 0;
      color: #00acc1;
      font-size: 15px;
      font-weight: 600;
      
    }

    a{
      color: #999;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 13px;
      font-weight: normal;
      text-decoration: none;
    }
    ul{
  list-style: none;
  padding-left: 0%;
    }
 li{
   padding-top: 4%;
 }
 .sonLi{
  padding-top: 6%;
 }
 
 .footerDivs{
   padding-top: 2%;
 }

 a:hover{
  color: #00acc1;
 }

 #iconDIv{
   a{
   font-size: 40px;
   padding-right: 5px;
   }
   i:hover{
     color: #00acc1;;
   }
 }
    
    }


