.HEAD{
    .ulustnav{
        display: flex;
        justify-content: flex-end;
        ul{
        display: flex;
        padding-top: 2%;


        li{
            list-style: none;
            padding-left: 10px;
        }
        }
        
    }

   
    
    background-image: url("slide-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    span{
        color: white;
        padding-left: 10px;
        font-size: 13px;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
        color: #fff;

    
    }
    a{
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 15px;
        color: #fff;
    }
    a:hover{
        text-decoration: none;
        color: #fff;
    }
   



.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: transparent;
}

@media only screen and (max-width: 732px) {
    #ustDIv{
   
    justify-content: space-between;
    
    }
    
  }

@media only screen and (max-width: 732px) {
    .ulustnav{
       display: none;
    }
    #ustDIv{
        justify-content: space-between;
        min-width: 100%;
        margin: 0px !important;
    }
  }

@media only screen and (max-width: 976px) {
    #Ilkspan{
        display: none;
    }
  }

    #NAV{
      
      .NAVDIV{

        display: flex;
        justify-content: space-between;

        #LogoA{
          font-size: 40px;
          color: #fff;
          font-family: sans-serif;

        }
        #UlDiv{

          .CurrencyDiv1{
            span{
              color: #fff;
              font-size: 15px;
              font-family: 'Montserrat', sans-serif;
              font-weight: 500;
            }
          }

        ul{
          list-style: none;
          display: flex;
          li{
            padding-top: 25px;
          }
        }

      }

      #IconDiv{
        padding-top: 20px;
        display: flex;
        a{
          border: 1px solid #515864;
          font-size: 20px;
          padding: 10px;
        }
      }
      }
    }


    @media only screen and (max-width: 1201px) {
      #firstPart{
          display: none;
      }
      #secondPart{
        display: block !important;
    }

    }
    @media only screen and (max-width: 775px) {
     
      #thirdpart{
        display: block !important;
    }
    #secondPart{
      display: none !important;
    }

    }

    
       
}
#sidebar{
  
  position: absolute;
  top: 0px;
   left: -200px;
  padding-left: 0px;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #443f3f;
  ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    li{
     padding-top: 10%;
     border-top: 1px solid black;
     border-bottom: 1px solid black;
     padding: 15px 10px;
     
      a{
        color: #fff ;

      }
    }
    li:hover{
      opacity: 0.5;
      color: black;
    }
  }
}
 #sidebar.active{
   left: 0px;
   
 }



#ssasp{
    
    ul{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: #222;
    font-weight: 400;
    }

}
    
#works{
    
    .titleTD{
        padding: 1%;
        span{
            font-weight: 600;
            font-size: 13px;
            font-family: 'Poppins', sans-serif;
        }
    }

    .PrdctTitle{
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
    }
    .Description{
        width: 30%;
        padding: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }
    .Avail{
        span{
            background-color: black;
            color: white;
            margin-left: 37%;
            padding: 7px;
        }
        
    }

    .UnitPrice{
        span{
            margin-left: 65%;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #222;
            font-weight: bold;
        }
    }

    .Total{
        width: 13%;
        span{
            margin-left: 65%;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #222;
            font-weight: bold;
        }
    }
    .Trash{
        width: 5%;
        span{
            margin-left: 40%;
            color: #bcbcbc;
        }
    }

    .QTY{
        width: 7%;
    }


    }
    .LittleSpanTd{
        font-size: 85%;
        font-weight: normal;    
        color: #999999;
        font-family: 'Poppins', sans-serif;
    }
    
    
    td{
        border: 1px solid #eaeaea;

    }
    .imgTD{
        width: 10%;

        img{
            width: 80%;
        }
}
#bigButton{
    background-color: #00acc1;
    span{
        font-size: 26px;
        font-weight: 300;
        font-family: sans-serif;
        color: white;
    }
}

#littleButton{

    height: 40px;
}

#littleButton:hover{
    background-color: #00acc1;
    span{
        color: white;
    }
    


}

#slideproducts{
    i{
        color:  #9d9d9d;
        font-size: 13px;
        margin: 1%;
      }
      .dollar{
        color: #07acc1;
        font-weight: bold;
      }
}


#Footer{
    background-color: black;
    min-height: 500px;
    margin-left: 0px;
    margin-right: 0px;

    h4{
      padding: 0 0 10px;
      padding-top: 1%;
      margin: 0;
      color: #00acc1;
      font-size: 15px;
      font-weight: 600;
      
    }

    a{
      color: #999;
      padding-top: 7px;
      padding-bottom: 7px;
      font-size: 13px;
      font-weight: normal;
      text-decoration: none;
    }
    ul{
  list-style: none;
  padding-left: 0%;
    }
 li{
   padding-top: 4%;
 }
 .sonLi{
  padding-top: 6%;
 }
 
 .footerDivs{
   padding-top: 2%;
 }

 a:hover{
  color: #00acc1;
 }

 #iconDIv{
   a{
   font-size: 40px;
   padding-right: 5px;
   }
   i:hover{
     color: #00acc1;;
   }
 }
    
    }


