#HeadDiv{
    background-image: url("slide-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: -60px;
}
#NAV{
    a{
        color: white;
    }
}

.FirstTextDiv{
    min-height: 50px;
    padding: 1%;
    span{
        color: #666;
        font-size: 13px;
        font-weight: normal;
    }
}

.MainDiv{
    .TabContentS{
        display: none;
    }
    #TAGS{
        input{
            width: 40%; 
            height: 35px; 
            border:2px solid #dddddd;
        }
        button{
            border:2px solid #dddddd;
            height: 35px;
            background-color: white;
        }
    }
    

    .RightDiv{
        #bigP{
            font-size: 32px;
            font-weight: 500;  
            border-bottom: 1px solid #ebebeb;
            
        }
        .yellow{
            background-color: yellow;
        }
        .kicikspan{
            color: #999;
            font-size: 13px;
            font-family: 'Poppins', sans-serif;
        }
        .bes99{
            font-size: 25px;
            font-weight: bold;  
        }
        .dord99{
            font-size: 20px;
            text-decoration: line-through;
            color: #999;
        }
        .iacP{
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            color: #222;
            font-weight: 400;
            border-bottom: transparent
        }
        .AvailableOptions{
            font-weight: bold;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            color: #222;
        }
        
        }
        .secondRightDiv{
            span {
            color: #999;
            font-size: 15px;
            font-family: 'Poppins', sans-serif;
            }
           
        }

       
    }
    

    #Footer{
        background-color: black;
        min-height: 500px;
        margin-left: 0px;
        margin-right: 0px;
    
        h4{
          padding: 0 0 10px;
          padding-top: 1%;
          margin: 0;
          color: #00acc1;
          font-size: 15px;
          font-weight: 600;
          
        }
    
        a{
          color: #999;
          padding-top: 7px;
          padding-bottom: 7px;
          font-size: 13px;
          font-weight: normal;
          text-decoration: none;
        }
        ul{
      list-style: none;
      padding-left: 0%;
        }
     li{
       padding-top: 4%;
     }
     .sonLi{
      padding-top: 6%;
     }
     
     .footerDivs{
       padding-top: 2%;
     }
    
     a:hover{
      color: #00acc1;
     }
    
     #iconDIv{
       a{
       font-size: 40px;
       padding-right: 5px;
       }
       i:hover{
         color: #00acc1;;
       }
     }
        
        }
    
    
    
