.HEAD {
  background-image: url("slide-img2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.HEAD .ulustnav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.HEAD .ulustnav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2%;
}

.HEAD .ulustnav ul li {
  list-style: none;
  padding-left: 10px;
}

.HEAD span {
  color: white;
  padding-left: 10px;
  font-size: 13px;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

.HEAD a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

.HEAD a:hover {
  text-decoration: none;
  color: #fff;
}

.HEAD .dropbtn {
  background-color: transparent;
  color: white;
  padding: 0px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  padding-left: 10px;
}

.HEAD .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.HEAD .dropdown-content a {
  color: black;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
}

.HEAD .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.HEAD .dropdown:hover .dropdown-content {
  display: block;
}

.HEAD .dropdown:hover .dropbtn {
  background-color: transparent;
}

@media only screen and (max-width: 732px) {
  .HEAD #ustDIv {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (max-width: 732px) {
  .HEAD .ulustnav {
    display: none;
  }
  .HEAD #ustDIv {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-width: 100%;
    margin: 0px !important;
  }
}

@media only screen and (max-width: 976px) {
  .HEAD #Ilkspan {
    display: none;
  }
}

.HEAD #NAV .NAVDIV {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.HEAD #NAV .NAVDIV #LogoA {
  font-size: 40px;
  color: #fff;
  font-family: sans-serif;
}

.HEAD #NAV .NAVDIV #UlDiv .CurrencyDiv1 span {
  color: #fff;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.HEAD #NAV .NAVDIV #UlDiv ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HEAD #NAV .NAVDIV #UlDiv ul li {
  padding-top: 25px;
}

.HEAD #NAV .NAVDIV #IconDiv {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.HEAD #NAV .NAVDIV #IconDiv a {
  border: 1px solid #515864;
  font-size: 20px;
  padding: 10px;
}

@media only screen and (max-width: 1201px) {
  .HEAD #firstPart {
    display: none;
  }
  .HEAD #secondPart {
    display: block !important;
  }
}

@media only screen and (max-width: 775px) {
  .HEAD #thirdpart {
    display: block !important;
  }
  .HEAD #secondPart {
    display: none !important;
  }
}

#sidebar {
  position: absolute;
  top: 0px;
  left: -200px;
  padding-left: 0px;
  position: fixed;
  width: 200px;
  height: 100%;
  background-color: #443f3f;
}

#sidebar ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#sidebar ul li {
  padding-top: 10%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 15px 10px;
}

#sidebar ul li a {
  color: #fff;
}

#sidebar ul li:hover {
  opacity: 0.5;
  color: black;
}

#sidebar.active {
  left: 0px;
}

.MyWishList p {
  font-size: 22px;
  font-weight: 600;
  color: #222;
}

.TableDiv td {
  border: 1px solid #eaeaea;
}

.TableDiv .titleTd {
  width: 8%;
  padding: 1%;
}

.TableDiv .titleTd span {
  color: #333;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

.secondTd {
  width: 60%;
  padding: 1%;
}

.secondTd a {
  color: #333;
  font-size: 15px;
}

.secondTd input {
  width: 100%;
  height: 50px;
  border: 2px solid #eaeaea;
}

.thirdTd {
  padding: 2%;
}

.thirdTd input {
  width: 90%;
  border: 2px solid #eaeaea;
}

.fourthTd {
  padding: 1%;
}

.fourthTd span {
  font-size: 16px;
  color: #00acc1;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.fifthTd {
  width: 5%;
  padding: 1%;
}

.fifthTd a {
  color: #00acc1;
}

.sixTd {
  width: 5%;
  padding: 2%;
}

.sixTd i {
  font-size: 14px;
  color: #949494;
}

.imgTD {
  width: 10%;
}

.imgTD img {
  width: 80%;
}

.secTable td {
  border: 1px solid  #eaeaea;
}

.secTable .Titletd {
  padding: 3%;
}

.secTable .Titletd span {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.secTable ul {
  list-style: none;
  padding-left: 2%;
}

.secTable li {
  border-bottom: 1px solid  #eaeaea;
  padding: 3%;
}

.secTable li a {
  color: #222;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.ThirdTable button:hover {
  background-color: #00acc1;
}

.ThirdTable button:hover span {
  color: white;
}

.ThirdTable td {
  border: 1px solid  #eaeaea;
}

.ThirdTable .Titletd {
  padding: 3%;
}

.ThirdTable .Titletd span {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}

.ThirdTable ul {
  list-style: none;
  padding-left: 2%;
}

.ThirdTable li {
  padding: 3%;
}

.ThirdTable li span {
  font-size: 13px;
  font-weight: normal;
  color: #222;
  font-family: 'Poppins', sans-serif;
}

.ThirdTable li a {
  color: #222;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}

.mainDiv .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1%;
}

.mainDiv .btn button {
  margin: 1%;
}

.mainDiv .btn button:hover {
  background-color: #00acc1;
}

.mainDiv .btn button:hover span {
  color: white;
}

#Footer {
  background-color: black;
  min-height: 500px;
  margin-left: 0px;
  margin-right: 0px;
}

#Footer h4 {
  padding: 0 0 10px;
  padding-top: 1%;
  margin: 0;
  color: #00acc1;
  font-size: 15px;
  font-weight: 600;
}

#Footer a {
  color: #999;
  padding-top: 7px;
  padding-bottom: 7px;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

#Footer ul {
  list-style: none;
  padding-left: 0%;
}

#Footer li {
  padding-top: 4%;
}

#Footer .sonLi {
  padding-top: 6%;
}

#Footer .footerDivs {
  padding-top: 2%;
}

#Footer a:hover {
  color: #00acc1;
}

#Footer #iconDIv a {
  font-size: 40px;
  padding-right: 5px;
}

#Footer #iconDIv i:hover {
  color: #00acc1;
}
/*# sourceMappingURL=wishList.css.map */